<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="header">
        <input type="search" class="search" placeholder="Search">
    </header>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
